<%= form_for(@massage) do |f| %>
  <% if @massage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@massage.errors.count, "error") %> prohibited this massage from being saved:</h2>

      <ul>
      <% @massage.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :receiver_id %><br>
    <%= f.number_field :receiver_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
